#App {
    text-align: center;
    border: 1px solid transparent;
    min-height: 100vh;
}

.title-banner {
    text-align: left;
    margin: 20px 0;
    color: limegreen;
    text-shadow: 1px 1px saddlebrown;
}

#minecraft-logo {
    display: inline-block;
    vertical-align: top;
    width: 45px;
    height: 45px;
}

#app-title {
    margin-left: 10px;
    display: inline-block;
}
